html {
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Sidebar */

.b-sidebar {
  width: 326px;
}

.sidebar-page .sidebar-layout {
  display: flex;
  flex-direction: row;
}

.b-sidebar .sidebar-content.is-dark {
  background-color: #2b2b2b;
}

.b-sidebar .sidebar-background {
  background: rgba(10, 10, 10, 0.50);
}

@media screen and (max-width: 600px) {
  .b-sidebar {
    width: 0;
  }
}

@media screen and (min-width: 600px) {
  .b-sidebar .sidebar-content {
    position: fixed !important;
  }
}

/* Menu */

.b-sidebar .icon.is-small {
  margin-right: .75rem;
  color: #5E5E66;
  height: unset;
}

.menu-list .icon {
  font-size: 1.2rem;
}

.menu-list a,
.menu-list a.is-active {
  color: #8F8F97;
}

.menu-list a {
  font-weight: 500;
  padding: .55em .25em;
  text-decoration: none;
}

.menu-list a:hover {
  color: #222222;
}

.menu-list a:hover,
.menu-list a.is-active {
  background-color: initial;
}

.menu-list a:hover,
.menu-list a.router-link-active:not([href = "/"]),
.menu-list a.router-link-exact-active.router-link-active {
  color: #ffffff;
}

.menu-list a.router-link-active:not([href = "/"]) .icon,
.menu-list a.router-link-exact-active.router-link-active .icon {
  color: #7957D5;
}

.menu-title {
  color: #7a7a7a;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-label:not(:first-child) {
  margin-top: 2em;
}

.menu-label:not(:last-child) {
  margin-bottom: .5em;
}


/* Header */

.title {
  margin-bottom: 3rem !important;
}

.title h2 {
  font-weight: 600;
}

.title .buttons .button {
  padding-left: .75rem;
  padding-right: .75rem;
}

.title .column:first-child .buttons {
  margin-left: -0.65rem !important;
  margin-right: 0.5rem;
}

.title .column:last-child .buttons {
  margin-right: -0.65rem !important;
  margin-left: 0.5rem;
}


/* Text Heading */

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 1.25;
}

h2 {
  font-size: 30px;
  line-height: 1.4;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  line-height: 1.55;
}


/* Navbar */

html.has-navbar-fixed-top, body.has-navbar-fixed-top {
  padding-top: 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
}

@media screen and (min-width: 600px) {
  .navbar {
    height: 5.25rem;
  }

  .navbar-brand {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar-item {
    padding-left: 2rem;
  }
}

.navbar-menu {
  text-transform: capitalize;
  font-weight: 500;
}


/* Page Content */

.page-content {
  overflow-y: auto;
  background-color: white;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .page-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


/* Breadcrumb */

.breadcrumb {
  background-color: unset;
  margin-bottom: 3rem !important;
  padding: 0;
}

.breadcrumb ul {
  margin-bottom: 0;
}

.breadcrumb li {
  text-transform: capitalize;
}


/* Table */

ul.pagination-list {
  margin-bottom: 0;
}


/* Width */

.w-max-300 {
  max-width: 300px;
}

.w-max-400 {
  max-width: 400px;
}

.w-max-500 {
  max-width: 500px;
}

.w-4 {
  width: 4rem;
}

.w-6 {
  width: 6rem;
}

.w-8 {
  width: 8rem;
}


/* Height */

.h-max-400 {
  max-height: 400px;
}

.h-max-300 {
  max-height: 300px;
}

.h-max-400 {
  max-height: 400px;
}

.h-min-300 {
  min-height: 300px;
}

.h-min-400 {
  min-height: 400px;
}

.h-min-500 {
  min-height: 500px;
}

.h-8 {
  height: 8rem;
}

.h-6 {
  height: 6rem;
}


/* Overflow */

.overflow-y-auto {
  overflow-y: auto;
}

/* Table */

.table td .button.is-white {
  cursor: pointer;
  color: #dddddd;
}

.table tr:hover .button.is-white,
.table tr .button.is-white:hover,
.table tr .button.is-white:focus {
  color: #999999;
}

.table td .button {
  margin-bottom: -6px;
  margin-top: -6px;
}

.table td .b-tooltip {
  display: unset;
}


/* Column */

@media(max-width: 600px) {
  .reverse-order {
    flex-direction: column-reverse;
    display: flex;
  }
}


/* Input */

.file-name {
  font-size: 1rem;
}

.field .control .button {
  margin-bottom: 0;
}

.b-radio.radio.is-nolabel:not(.button) {
  margin-right: 0;
}

.b-radio.radio.is-nolabel:not(.button) .control-label {
  padding-left: 0;
}

.b-radio.radio.is-medium input[type=radio],
.b-radio.radio.is-large input[type=radio] {
  height: 100%;
}

.b-radio.radio.is-small input[type=radio] {
  left: .1rem;
}

.b-radio.radio.is-medium input[type=radio] {
  left: .35rem;
}

.b-radio.radio.is-large input[type=radio] {
  left: .55rem;
}

p.control {
  margin-bottom: 0;
}

.field.is-grouped .field,
.field.is-grouped .field .control {
  margin-bottom: 0;
}

.field.is-grouped .field.no-label:not(:first-child) {
  padding-top: 33px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  right: .85em;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.no-input {
  margin-top: -3.25rem;
}

.no-input .control {
  z-index: -1;
}

.no-input .input {
  width: auto;
  opacity: 0;
  outline: none;
}


/* Media Player */

audio {
  width: 100%;
  outline: none;
}


/* Button */

.button.is-p-equal,
.field.radio-box .button {
  padding-right: calc(0.375em - 1px);
  padding-left: calc(0.375em - 1px);
}

.field.radio-box .button {
  display: block !important;
  height: auto;
}

.field.radio-box.is-grouped {
  display: table;
}

.field.is-grouped > .control {
  display: inline-table;
}

.field.is-grouped > .control:not(:last-child) {
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.button:hover .has-text-grey-lighter {
  color: #B5B5B5 !important;
}

.is-boxy {
  padding: 1.5rem 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
}


/* Loading */

.loading-overlay.is-solid .loading-background {
  background: rgba(255, 255, 255, 1);
}


/* Image */

.image-fit {
  object-fit: cover;
}

.profile-picture {
  height: 425px;
}

@media screen and (max-width: 600px) {
  .profile-picture {
    height: auto;
    width: 100%;
  }
}


/* Line */

form hr {
  margin-top: 1.5rem;
}


/* Table */

.b-table tr.deleted-row {
  background-color: rgb(255, 56, 96, .05);
  animation: example .2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes example {
  from {
    opacity: .7;
  }
  to {
    opacity: 0;
  }
}

.b-table.is-loading:after {
  top: 40%;
}


/* Paragraph */

p {
  margin-bottom: 0;
}

.radio-box-placeholder {
  display: flex;
}

.radio-box-placeholder:first-child {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.radio-box-placeholder {
  padding-right: .5rem;
}

.modal.no-scroll .modal-content {
  overflow-y: hidden;
}

.modal.no-scroll .modal-content .card {
  overflow-y: auto;
}


/* Infinite Loading */

.infinite-loading-container {
  margin-bottom: 1rem;
}


/* Step Viewer */

.step-viewer-container {
  left: calc(50% - 152px);
  top: calc(50% - 144px);
}

.step-viewer-container.step-left {
  left: calc(50% - 152px + 104px);
  transition: left .2s;
}

.step-viewer-container.step-up {
  top: calc(50% - 144px + 104px);
  transition: top .2s;
}

.step-viewer-container.step-right {
  left: calc(50% - 152px - 104px);
  transition: left .2s;
}

.step-viewer-container.step-down {
  top: calc(50% - 144px - 104px);
  transition: top .2s;
}


/* Rotate and Transform */

.rotate-n90 {
  transform: rotate(-90deg);
}


/* Trailer */

.point:after {
  content: '.';
  color: #3333ff;
}


/* Link */

a:hover, a:focus {
  text-decoration: none;
}


/* Font */

.font-default {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Info Table */

.info-title {
  text-transform: capitalize;
  font-weight: 700;
}


/* Separator */

.separator {
  background-color: #E3E3E3;
  margin: 2rem 0;
}


/* Wave */

.wave {
  bottom: 3.25rem;
  position: absolute;
}

.wave .zigzag {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.wave .zigzag .icon {
  margin-left: -0.45rem;
  margin-right: -0.45rem;
}

.wave .zigzag .icon.has-text-light {
  color: #EFEFEF!important;
}


/* Section */

.info-section::before {
  border-bottom: 1px solid #E3E3E3;
}

.info-section {
  margin-bottom: -5.25rem;
}

#hi.info-section {
  margin-bottom: -3.25rem;
}

.info-section::before {
  height: 5.25rem;
  content: "";
  display:block;
}

@media screen and (max-width: 600px) {
  .info-section::before {
    height: 3.25rem;
  }

  .info-section {
    margin-bottom: -3.25rem;
  }

  #hi.info-section {
    margin-bottom: 0;
  }
}
