// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Custom
@import 'buefy';
@import 'grid';
@import 'style';

@import '~@mdi/font/css/materialdesignicons.css';
