// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

// Variables
@import 'variables';

// Custom
@import 'buefy';
@import 'grid';
@import 'style';

@import '~@mdi/font/css/materialdesignicons.css';
